.footer {
  padding-top: 60px;
  /* text-align: center; */
  padding-bottom: 60px;
}
body {
  font-family: "Bebas Neue";
  font-size: 20pt;
  color: #2a2a2a;
}

.pageHeader {
  background-color: #549ce6;
  background-image: url(./turbo.jpg);
  background-size: cover;
}

.logo {
  max-width: 100%;
  margin-top: 200px;
}

.tickets {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.buyTickets {
  margin-bottom: 60px;
  margin-top: -40px;
  display: block;
  border: 5px solid #2a2a2a;
  width: 120px;
  padding: 10px;
  text-decoration: none;
}

.logo-blue {
  color: #115fb0 !important;
}

.buyTickets:hover {
  background-color: #2a2a2a;
  color: white;
}

.leaderContainer {
  font-size: 28pt;
  display: flex;
  flex-direction: row;
}

.leaderContainer span {
  /* color: white; */
}

.date {
  flex-grow: 0;
  width: 300px;
}
.location {
  flex-grow: 1;
  flex-basis: 100%;
  align-items: flex-end;
  text-align: right;
}

.countdownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  margin: 72px;
  font-size: 72pt;
}

.lineup {
  text-transform: uppercase;
  text-align: center;
}

.lineup1 {
  font-size: 72.9pt;
  line-height: 56pt;
}

.lineup :nth-child(even) {
  color: #ccc;
}

.lineup15 {
  /* text-align: justify; */
  font-size: 52.5pt;
  line-height: 42pt;
}

.lineup2 {
  /* text-align: justify; */
  font-size: 39.4pt;
  line-height: 31pt;
}

.lineup3 {
  font-size: 26pt;
  line-height: 24pt;
  /* text-align: justify; */
}

.sponsors {
  margin-top: 50px;
}

.sponsorWrapper {
  margin-top: 40px;
  opacity: 0.2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sponsor {
  max-width: 250px;
  margin-left: 40px;
  margin-right: 40px;
}

.holo {
  text-align: right;
}
